<!DOCTYPE html>
<html>
  <head>
    <title>FinanceTracker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'shared/main_nav_bar' %>
    <div class="container">

      <% if notice %>
        <p class="notice alert alert-info" role="alert">
             <%= notice %>
        </p>
      <% end %>

      <% if alert %>
        <div class="notice alert alert-secondary" role="alert">
             <%= alert %>
        </div>
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>
